*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
    color: white;
}
.card{
    background: linear-gradient(135deg,rgb(132, 232, 250),rgb(21, 108, 190));
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px, 35px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.search{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
height: 40px;
border: none;
outline: none;
border-radius: 20px;
padding: 5px 10px;
margin: 0 20px;
flex: 1;
background: #dbfffc;
cursor: text;
}
.search button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #dbfffc;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}
.search button:hover{
    background: #f6fcfb;
    width: 45px;
    height: 45px;
    
}
.search button img{
    width: 15px;
}
.error{
    display: none;
    text-align: left;
    margin: 10px 30px;
    font-size: 14px;
}
.weather{
  align-items: center;
  justify-content: center;
  display: none;
}

.weather-icon{
    width: 160px;
    padding-top: 15px;
}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.city{
    font-size: 45px;
    font-weight: 400;
    
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 10px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 45px;
    margin-right: 10px;
}
.wind , .humidity{
    font-size: 30px;
    margin-top: -6px;
}